@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    background-color: #333333;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
}

#titleWrapper{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

#titleWrapper h1{
    opacity: 0;
    animation: titleLandingText 1.5s forwards;
    animation-delay: 1s;
    flex: 1;
}

#titleWrapper img{
    max-height: 100px;
    margin-right: 10px;
    opacity: 0;
    animation: titleLandingImg 2.5s forwards;
    flex: 1;
}

@keyframes titleLandingImg{
    0%{
        opacity: 0;
        transform: translate(45px,15px);
    }
    40%{
        transform: translate(45px, 0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes titleLandingText{
    0%{
        opacity: 0;
        transform: translateX(35px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#mainNav{
    display: flex;
    opacity: 0;
    animation: navLanding 1.5s 2s forwards;
    position: fixed;
    width: 100%;
    background-color: #272727;
    z-index: 5;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 2px;
}

#mainNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 3;
    text-align: center;
    display: flex;
}

#mainNav li{
    flex: 1;
    margin-top: 3.7vh;
}

#mainNav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#mainNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#mainNav a:hover:after { 
    width: 100%; 
    left: 0; 
}

#navLogo{
    max-height: 70px;
}

#navTitleWrapper h1{
    flex: 1;
    margin-left: 10px;
}

#navTitleWrapper{
    flex: 1;
    display: flex;
}

#SecondaryNav{
    display: flex;
    /* opacity: 0; */
    /* animation: navLanding 1.5s 2s forwards; */
    position: fixed;
    width: 100%;
    background-color: #272727;
    z-index: 5;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 2px;
}

#SecondaryNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 3;
    text-align: center;
    display: flex;
}

#SecondaryNav li{
    flex: 1;
    margin-top: 3.7vh;
}

#SecondaryNav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#SecondaryNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#SecondaryNav a:hover:after { 
    width: 100%; 
    left: 0; 
}

@keyframes navLanding{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.90;
    }
}

@keyframes upAndDown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

#scrollDown{
    text-align: center;
    opacity: 0;
    animation: navLanding 1.5s 2s forwards;
}

#scrollDown a{
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
    transition: 0.3s;
    animation: upAndDown 1s infinite;
}

#scrollDown a:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
}

#latestRelease{
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

.containerConfirm{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#checkmark{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48vh;
    left: 50%;
    font-size: 50px;
}

#confirmText{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53vh;
    left: 50%;
    font-size: 50px;
}