@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    scroll-behavior: smooth;
    outline: none;
}

body{
    background-color: #333333;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
}

#titleWrapper{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

#titleWrapper h1{
    opacity: 0;
    animation: titleLandingText 1.5s forwards;
    animation-delay: 1s;
    flex: 1;
}

#titleWrapper img{
    max-height: 100px;
    margin-right: 10px;
    opacity: 0;
    animation: titleLandingImg 2.5s forwards;
    flex: 1;
}

@keyframes titleLandingImg{
    0%{
        opacity: 0;
        transform: translate(45px, 15px);
    }
    40%{
        transform: translateX(45px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes titleLandingText{
    0%{
        opacity: 0;
        transform: translateX(35px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#mainNav{
    display: flex;
    opacity: 0;
    animation: navLanding 1.5s 2s forwards;
    position: fixed;
    width: 100%;
    background-color: #272727;
    z-index: 5;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 2px;
}

#mainNav ul{
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    flex: 3;
    text-align: center;
    display: flex;
}

#mainNav li{
    transform: translate(-50%, -50%);
    flex: 1;
    margin-top: 4vh;
}

#mainNav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#mainNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#mainNav a:hover:after { 
    width: 100%; 
    left: 0; 
}

#navLogo{
    position: absolute;
    max-height: 70px;
    top: 50%;
    transform: translateY(-50%);
}

#navTitleWrapper h1{
    margin-left: 10px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 75px;
}

#navTitleWrapper{
    flex: 1;
    display: flex;
    position: relative;
}

#SecondaryNav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #272727;
    z-index: 5;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 2px;
}

#SecondaryNav ul{
    list-style-type: none;
    padding: 0;
    flex: 3;
    text-align: center;
    display: flex;
}

#SecondaryNav li{
    flex: 1;
    margin-top: 4vh;
    transform: translate(-50%, -50%);
}

#SecondaryNav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#SecondaryNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#SecondaryNav a:hover:after { 
    width: 100%; 
    left: 0; 
}

@keyframes navLanding{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.90;
    }
}

@keyframes upAndDown{
    0%{
        /* transform:  translateX(-50%); */
        /* transform: translateY(0px); */
        transform: translate(-50%, 0px);
    }
    50%{
        /* transform:  translateX(-50%); */
        /* transform: translateY(-5px); */
        transform: translate(-50%, -5px);
    }
    100%{
        /* transform:  translateX(-50%); */
        /* transform: translateY(0px); */
        transform: translate(-50%, 0px);
    }
}

#scrollDown{
    text-align: center;
    opacity: 0;
    animation: navLanding 1.5s 2s forwards;
}

#scrollDown a{
    position: absolute;
    top: 85vh;
    left: 50%;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    animation: upAndDown 1s infinite;
}

#scrollDown a:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
}

#latestRelease{
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

.containerConfirm{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#checkmark{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48vh;
    left: 50%;
    font-size: 50px;
}

#confirmText{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53vh;
    left: 50%;
    font-size: 50px;
}

.inputWrapper{
    margin-top: 50px;
    margin-left: 55%;
    transform: translateX(-50%);
}

.inputGroup{
    margin-bottom: 10px;
}

/* .inputGroup input{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    outline: none;
} */

.inputs{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    outline: none;
}

#noSub {
    display: none;
    margin-top: 150px;
    text-align: center;
}

#titleHolder{
    margin-top: 15vh;
    text-align: center;
}

.contactButton{
    background-color: white;
    border-radius: 10px;
    max-height: 75px;
    transition: 0.2s;
}

.contactButton:hover{
    background-color: #b4b4b4;
}

#contactsWrapper{
    display: flex;
    margin: 5% 25% 0 25%;
}

.actionButtonsWrapper{
    display: flex;
    width: 13%;
}

.actionButtons{
    flex: 1;
    color: white;
    background-color: black;
    max-width: 30px;
    margin-right: 5px;
    text-align: center;
    padding: 7px 7px 7px 7px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.2s;
}

.actionButtons:hover{
    cursor: pointer;
}

#greyButton{
    background-color: grey;
}

#blueButton{
    background-color: rgb(91, 91, 255);
}

#redButton{
    background-color: rgb(255, 34, 34);
}

#greyButton:hover{
    background-color: rgb(107, 107, 107);
}

#blueButton:hover{
    background-color: rgb(68, 68, 255);
}

#redButton:hover{
    background-color: rgb(218, 0, 0);
}

.deleteForm{
    width: 50px;
}

.buttons{
    font-size: 18px;
}

#cancelButton{
    color: white;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background-color: rgb(214, 4, 4);
    transition: 0.2s;
}

#submitButton{
    color: white;
    padding: 8px 8px 8px 8px;
    border: none;
    border-radius: 10px;
    background-color: rgb(68, 68, 255);
    transition: 0.2s;
}

#cancelButton:hover{
    cursor: pointer;
    background-color: rgb(175, 0, 0);
}

#submitButton:hover{
    cursor: pointer;
    background-color: rgb(16, 16, 255);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#myUL{
    margin-top: 130px;
    margin-left: 150px;
}

#myUL li{
    list-style-type: none;
}

#myUL a{
    color: white;
    text-decoration: none;
}

#myUL a:hover{
    cursor: pointer;
}

.infoWrapper{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.subCard{
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 10px;
}

.subCard h4{
    margin: 0;
}

#delButton{
    color: white;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background-color: rgb(214, 4, 4);
    transition: 0.2s;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

#delButton:hover{
    cursor: pointer;
    background-color: rgb(175, 0, 0);
}

.delButtonForm{
    position: relative;
}

/* #submisisonsWrapper{
    display: none;
} */

#myInput{
    margin-left: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    width: 300px;
}

#loginWrapper input{
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#loginWrapper input[type="submit"]:hover{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    #navTitleWrapper{
        display: none;
    }
    #latestRelease iframe{
        width: 300px;
    }
    #mainNav li{
        text-align: right;
    }
}

.loginContainer{
    margin-top: 15vh;
}