@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    background-color: #333333;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#titleWrapper{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

#titleWrapper h1{
    opacity: 0;
    animation: titleLandingText 1.5s forwards;
    animation-delay: 1s;
    flex: 1;
}

#titleWrapper img{
    max-height: 100px;
    margin-right: 10px;
    opacity: 0;
    animation: titleLandingImg 2.5s forwards;
    flex: 1;
}

@keyframes titleLandingImg{
    0%{
        opacity: 0;
        transform: translate(45px,15px);
    }
    40%{
        transform: translate(45px, 0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes titleLandingText{
    0%{
        opacity: 0;
        transform: translateX(35px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#mainNav{
    display: flex;
}

#mainNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 2;
    text-align: center;
    display: flex;
}

#mainNav li{
    flex: 1;
    margin-top: 3.7vh;
}

#mainNav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#mainNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#mainNav a:hover:after { 
    width: 100%; 
    left: 0; 
}

#navLogo{
    max-height: 70px;
}

#navTitleWrapper h1{
    flex: 1;
    margin-left: 10px;
}

#navTitleWrapper{
    flex: 1;
    display: flex;
}