<div class="inputGroup">
    <label for="">Title:</label>
    <input type="text" id="title" class="inputs" name="title">
</div>
<div class="inputGroup">
    <label for="">Artist name:</label>
    <input type="text" id="creator" class="inputs" name="creator">
</div>
<div class="inputGroup">
    <label for="">Title:</label>
    <input type="file" id="audioFile" class="inputs" name="audioFile">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>