<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2YEFRVXD4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P2YEFRVXD4');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Confirmed!</title>
    <link rel="icon" href="../DesclutionLogo.png">
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
</head>
<body>
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="pages/info">Info</a></li>
                <li><a href="pages/new">Submit</a></li>
                <li><a href="pages/contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="containerConfirm">
        <i class="fas fa-check" id="checkmark"></i>
        <h1 id="confirmText">Submission Received!</h1>
    </div>
</body>
</html>