<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desclution - Contact</title>
        <link rel="icon" href="../DesclutionLogo.png">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <header id="mainHeader">
            <nav id="SecondaryNav">
                <div id="navTitleWrapper">
                    <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="./info">Info</a></li>
                    <li><a href="./new">Submit</a></li>
                    <li><a href="./contact">contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="titleHolder">
                <h1>Contact us!</h1>
                <h3>Contacting us is possible via email or our discord server.</h3>
                <div id="contactsWrapper">
                    <a href="mailto:desclution@gmail.com" id="emailButton" style="flex: 1;"><img src="../emailLogo.png" alt="Email" class="contactButton"></a>
                    <a href="https://discord.gg/yQhduHY" id="discordButton" target="_blank" style="flex: 1;"><img src="../DiscordLogo.png" alt="discordLogo" id="discordButtonImg" class="contactButton"></a>
                </div>
            </div>
        </main>
    </body>
</html>