<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info -- Desclution</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../DesclutionLogo.png">
</head>
<body>
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./info">Info</a></li>
                <li><a href="./new">Submit</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./submission">Submissions</a></li>
            </ul>
        </nav>
    </header>
    <main style="margin-top: 130px;">
        <div class="infoWrapper">
            <h1>Info</h1>
            <h2>Who are we?</h2>
            <h4>We are a record label based in South Africa. We mostly promote songs but sometimes we also release our own music. </h4>
        </div>
    </main>
</body>
</html>