<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2YEFRVXD4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P2YEFRVXD4');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get all the info you want from here.">
    <title>Info -- Desclution</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../DesclutionLogo.png">
</head>
<body>
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo" alt="Desclution logo image"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./info">Info</a></li>
                <li><a href="./new">Submit</a></li>
                <li><a href="./contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <main style="margin-top: 130px;">
        <div class="infoWrapper">
            <h1>Info</h1>
            <div id="showFirst" class="showDiv">
                <h3>Who are we?</h3>
                <p>We are Desclution Records, an independent record label whose motive is to promote and showcase upcoming artists in the music industry; either by releasing tracks on our record label or promoting the tracks onto our YouTube Channel. </p>
            </div>
            <div id="showSecond" class="showDiv">
                <h3>How do I sumbit my song?</h3>
                <p>Simply just go to the submit tab and fill out the forms. Make sure to not make any mistakes because you will <b style="text-decoration: underline;">not</b> be able to edit your submission! Once you filled out all the forms you can upload your song using the Upload song button and click on the submit button.</p>
            </div>
            <div id="showthird" class="showDiv">
                <h3>What will happen once I submit my song?</h3>
                <p>Once you submitted your song one of our staff members will review your song. If your song satisfies our admins we will contact you via email or discord to notify you that your song will be featured on the channel and we might ask some further questions.</p>
            </div>
        </div>
    </main>
</body>
</html>