<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Submission</title>
    <link rel="icon" href="../../DesclutionLogo.png">
    <link rel="stylesheet" href="../../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body>
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./info">Info</a></li>
                <li><a href="./new">Submit</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./submission">Submissions</a></li>
            </ul>
        </nav>
    </header>
    <main style="margin-top: 130px;">
        <div class="container">
            <h1 style="text-align: center;">Submit your song</h1>
            <form action="/pages" method="POST" enctype="multipart/form-data">
                <%- include("_form_fields") %>
            </form>
        </div>
    </main>
</body>
</html>