<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissions</title>
    <link rel="icon" href="../DesclutionLogo.png">
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body onload="checkLi()">
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./info">Info</a></li>
                <li><a href="./new">Submit</a></li>
                <li><a href="./schedule">Release Schedule</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./submission">Submissions</a></li>
            </ul>
        </nav>
    </header>
    <!-- <input type="text" id="myInput" onkeyup="Search()" placeholder="Zoeken..." class="form-control" style="padding-top: 500px;"> -->
    <h1 id="noSub">No submissions yet!</h1>
    <ul id="myUL">
        <% articles.forEach(article => { %>
            <li>
                <div>
                    <a href="./<%= article.slug %>">
                        <h4 id="title"><%= article.title %></h4>
                        <form action="/pages/<%= article.id %>?_method=DELETE" method="POST" class="d-inline " id="delete">
                            <button type="submit" class="btn btn-danger" id="delButton"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <label class="color"><%= article.creator %></label>
                    </a>
                </div>
        <% }) %>
    </ul>
    <script>
        function Search(dateOne, dateTwo) {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1){
                    li[i].style.display = "";
                } 
                else {
                    li[i].style.display = "none";
                }
            }
        }
        function checkLi(){
            let ul = document.getElementById("myUL");
            let noSub = document.getElementById("noSub");
            if(ul.childElementCount == 0){
                noSub.style.display = "block"
            }
            else{
                noSub.style.display = "none"
            }
        }
    </script>
</body>
</html>